/*


  ______ _           _          _____  _     _____  
 |  ____(_)         | |   /\   |  __ \| |   |  __ \ 
 | |__   _ _ __   __| |  /  \  | |__) | |__ | |  | |
 |  __| | | '_ \ / _` | / /\ \ |  ___/| '_ \| |  | |
 | |    | | | | | (_| |/ ____ \| |    | | | | |__| |
 |_|    |_|_| |_|\__,_/_/    \_\_|    |_| |_|_____/ 
     FindAPhD Listing Tool / Custom Styles 2015                                                    
                                                    
   Feel free to edit this file and host elsewhere


*/



/* this region if uncommented will override the basic colour scheme chosen within your FindAPhD admin screen under "listing tool".*/
/*#region -- Basic Colours -- */
/*#API_form #API_Container a                                                  { color: #0E76BC; }
#API_form #API_Container a:hover,#API_Container a:visited                   { color: #0E76BC; }
*/
#API_Container #API_divSearchArea                                 { background-color: #f0f2e9 !important; border-color: #caccb8 !important; }
/*
#API_form #API_Container .API_resultItem .API_phdTitle                      { color: #0E76BC; }
#API_form #API_Container .API_resultItem .API_schoolTitle                   { color: #0E76BC; }
#API_form #API_Container .API_resultItem .API_supervisors                   { color: #0E76BC; }
#API_form #API_Container .API_resultItem .API_appDeadline span              { color: #0E76BC; }
#API_form #API_Container .API_resultItem h3                                 { color: #0E76BC; }
*/
#API_Container .btn-default,
#API_Container .API_resultItem .btn-default                       { color: white !important; background-color: #a23479!important; border-color: #a23479!important; }
#API_Container .btn-default:hover,
#API_Container .API_resultItem .btn-default:hover                 { background-color: #a23479 !important; color:#f9f9f9!important; }
#API_Container .API_pagingContainer ul.pagination li a            { background-color: #f0f2e9 !important; color: #00b3eb !important; border: 1px solid #e5e9d9; }
#API_Container .API_pagingContainer ul.pagination li.active a     { background-color: #00b3eb !important; color:#f9f9f9!important; border-color: #00b3eb !important; }
/*
#API_form #API_Container .API_ResultInfo                                    { color: #0E76BC; }*/

/*#endregion  -- Basic Colours -- */


/* This is a basic style suggestion which can be altered to match your websites look and feel */
/*#region -- Basic Styles -- */

#API_Container #API_divSearchAreaContainer { background-color: transparent !important; color: #333333 !important; }

#API_Container #API_divSearchArea { padding-top:10px; padding-bottom:10px; padding-left:20px; padding-right:20px; border-top: .8em solid; border-radius: 3px;  }
#API_Container #API_divSearchArea .filterHeading { color:#333 !important;  }
#API_Container .API_resultItem { padding: 0 15px; background-color: #ffffff; }
#API_Container .API_resultItem .API_resultItem_Inner { border: 1px dotted #ccc; padding:20px 0; background-color: #f7f7f7; width: 100%; }
#API_Container .API_resultItem.open {  }

#API_Container .API_resultItem h3, #API_Container .API_resultItem .h3 { font-size: 16px; }

    #API_Container .API_resultItem .API_phdTitle { font-size: 1.4em; line-height: 1.4em; font-weight: bold; }
    #API_Container .API_resultItem .API_schoolTitle { line-height: 24px; padding-top:5px; padding-bottom:5px; }

#API_Container .API_resultItem .API_supervisors { line-height:36px; }
#API_Container .API_resultItem .API_supervisors .glyphicon { color:#aaa; }
#API_Container .API_resultItem .API_supervisors span { color:#444; }


#API_Container .API_resultItem .API_emailBtn,
#API_Container .API_resultItem .API_wwwBtn {
  background: none;

}


    #API_Container .API_resultItem .API_categoryDiv { line-height: 40px; }
    #API_Container .API_resultItem .API_categoryDiv .API_label {
        background-color: #fff;
        color: #333;
        font-size: 12px;
        border: 1px dotted #ccc;
    }
        #API_Container .API_resultItem .API_categoryDiv .API_label .glyphicon { font-size: 18px; float: left; padding-right: 6px; color: #333; }
    @media (max-width: 660px) {
        .API_label { min-width: 170px; }
    }

    #API_Container .API_resultItem .API_fundingNotes,
    #API_Container .API_resultItem .API_references { margin-top: 20px; }

    #API_Container .API_resultItem .btn-default { 
        margin-top: 10px; 
        margin-right: 10px; 
        min-width: 120px;
        border-radius: 3px;
        text-decoration: none;
        transition-property: all;
        transition-duration: .4s;
        transition-timing-function: ease-out; }
  
        #API_Container .API_resultItem .btn-default:hover, #API_Container .btn-default:hover {
            background-color: #AB4886!important;  
            border-color: #AB4886!important;
          }

    #API_Container .API_resultItem h3 { font-weight: bold; margin-top: 20px; line-height: 1.4em; }

    #API_Container .API_resultItem_separator { margin-top: 20px; }

    #API_Container .API_pagingContainer { text-align: center; margin: 0 auto; padding-top: 20px; }
    #API_Container .API_pagingContainer ul { margin: 10px 0; }

    #API_Container ul.pagination {
      padding-left: 0!important;
    }

    #API_Container .API_pagingContainer ul.pagination li.active a { color: white !important; }
    /* #API_Container .API_pagingContainer ul.pagination li.disabled a { color: #999 !important; background-color: #eee !important; border-color: #eee; } */
    #API_Container .API_pagingContainer ul.pagination li.disabled a {display: none;}

    #API_Container .API_pagingContainer ul.pagination li a {
      background-color: #f0f2e9 !important;
      color: #008cb8 !important;
      border: 1px solid #e5e9d9;
      margin: 0 .125em;
      border-radius: 3px;
      font-weight: bold;
  }

  #API_Container .API_pagingContainer ul.pagination li:first-child,
  #API_Container .API_pagingContainer ul.pagination li:last-child {
    display: none;
  }

  #API_Container .API_pagingContainer ul.pagination li:nth-child(2) a::before {
    content: "\003c  \0020";
  }
  #API_Container .API_pagingContainer ul.pagination li:nth-last-child(2) a::after {
    content: "\0020 \003e";
  }



  #API_Container {
    font-family: museo-sans, Helvetica, Arial, sans-serif !important;
  }

  #API_Container .API_phdTitle {
     font-family: chaparral-pro, "Times New Roman", Times, serif !important;
  }
  
    #API_Container .API_resultItem .API_categoryDiv .API_label {
        background-color: transparent!important;
        border: 0!important;
        font-family: museo-sans, Helvetica, Arial, sans-serif !important;
        font-size: inherit!important;
        font-weight: normal!important;
        padding: 6px 10px 6px 0!important;
      }

      #API_Container .API_resultItem .btn-default:hover, #API_Container .btn-default:hover {
        background-color: #AB4886!important; 
        border-color: #AB4886!important;
      }
      
      #API_Container .form-control {
        border-color: #b3b3b3!important;
        border-radius: 3px;
        color: #333;
      }
      
      #API_Container .API_ResultInfo {
        color: #000!important;
      }
      
  
      
#API_Container .API_count {
    color: #333!important;
    padding-left: 15px;
  }
  
  #API_Container .API_reset a {
    display: none;
  }

  #API_Container .form-control {
    border-color: #b3b3b3!important;
    border-radius: 3px;
    color: #333;
  }

  #KeyArea .btn-default {
    text-indent: -9999px;
    line-height: 0; 
  }
  #KeyArea .btn-default::after {
    content: "Filter by keyword";
    text-indent: 0;
    display: block;
    line-height: 1.5; 
    margin-top: -1.5em;
  }

  @media ( max-width: 768px ) {
    #KeyArea	.input-group-btn {
            float: left!important;
        }
        #KeyArea .btn-default {
            border-radius: 3px!important;
            margin-top: .5em!important;
        }
        #KeyArea	.input-group {
            width: 100%!important;
        }
        #KeyArea .input-group input {
          border-radius: 3px!important;
          width: 100%!important;
        }
    }

     
.clearer {
  right: 0!important;
}

@media (min-width: 845px) {
  .clearer {
    right: 8rem!important;
  }
}


.API_appDeadline,
.API_appDeadline span {
  color: #333!important;
}

#API_Container .API_fullDetails h3,
#API_Container .API_fullDetails h4,
#API_Container .API_fullDetails h5 {
  font-family: chaparral-pro, "Times New Roman", Times, serif !important;
}

#API_Container #API_divSearchArea {
  padding-left: inherit!important;
  padding-right: inherit!important;
}

.

/*#endregion -- Basic Styles -- */



    